.heading-primary{
  font-family: $font-heading;
  font-size: 5.202rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heading-secondary{
  font-family: $font-heading;
  font-weight: 500;
  display: block;
  font-size: 3.653rem;
  line-height: 3.375rem;
}

.sub-heading{
  font-size: 2.0273rem;
  font-weight: 500;
  margin-bottom: 3.3rem;
}

.heading-tertiary{
  font-family: $font-heading;
  font-size: 1.4238rem;
}