.text-align-center{
  text-align: center;
}

.mb-lg{
  margin-bottom: 4.5rem;

  @media only screen and (max-width: $bp-3) {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: $bp-7) {
    margin-bottom: 1rem;
  }
}

.mb-md{
  margin-bottom: 3rem;
  @media only screen and (max-width: $bp-6) {
    margin-bottom: 2rem;
  }
}

.mb-sm{
  margin-bottom: .3rem;
}

.section-paddding{
  padding: 4.875rem 0;

  @media only screen and (max-width: $bp-5) {
    padding: 3rem 0;
  }
  
}

.section-paddding-sm{
  padding: 1.875rem 0;
}